/*
    Theme: GitHub Dark
    Description: Dark theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15

    Outdated base version: https://github.com/primer/github-syntax-dark
    Current colors taken from GitHub's CSS
*/
.hljs {
  text-decoration: none;
  color: #c9d1d9;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #c6ced7, 0 0 10px #c8d0d8;
}

.hljs:hover,
.hljs:focus {
  color: #c9d1d9;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #e7ebee, 0 0 10px #e1e5ea;
}

/* prettylights-syntax-keyword */
.hljs-doctag {
  text-decoration: none;
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ff766d, 0 0 10px #ff796f;
}

.hljs-doctag:hover,
.hljs-doctag:focus {
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffaba5, 0 0 10px #ffa19b;
}

.hljs-keyword {
  text-decoration: none;
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ff766d, 0 0 10px #ff796f;
}

.hljs-keyword:hover,
.hljs-keyword:focus {
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffaba5, 0 0 10px #ffa19b;
}

.hljs-meta .hljs-keyword {
  text-decoration: none;
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ff766d, 0 0 10px #ff796f;
}

.hljs-meta .hljs-keyword:hover,
.hljs-meta .hljs-keyword:focus {
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffaba5, 0 0 10px #ffa19b;
}

.hljs-template-tag {
  text-decoration: none;
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ff766d, 0 0 10px #ff796f;
}

.hljs-template-tag:hover,
.hljs-template-tag:focus {
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffaba5, 0 0 10px #ffa19b;
}

.hljs-template-variable {
  text-decoration: none;
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ff766d, 0 0 10px #ff796f;
}

.hljs-template-variable:hover,
.hljs-template-variable:focus {
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffaba5, 0 0 10px #ffa19b;
}

.hljs-type {
  text-decoration: none;
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ff766d, 0 0 10px #ff796f;
}

.hljs-type:hover,
.hljs-type:focus {
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffaba5, 0 0 10px #ffa19b;
}

.hljs-variable.language_ {
  text-decoration: none;
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ff766d, 0 0 10px #ff796f;
}

.hljs-variable.language_:hover,
.hljs-variable.language_:focus {
  color: #ff7b72;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffaba5, 0 0 10px #ffa19b;
}

/* prettylights-syntax-entity */
.hljs-title {
  text-decoration: none;
  color: #d2a8ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #cfa3ff, 0 0 10px #d1a5ff;
}

.hljs-title:hover,
.hljs-title:focus {
  color: #d2a8ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ecdbff, 0 0 10px #e7d1ff;
}

.hljs-title.class_ {
  text-decoration: none;
  color: #d2a8ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #cfa3ff, 0 0 10px #d1a5ff;
}

.hljs-title.class_:hover,
.hljs-title.class_:focus {
  color: #d2a8ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ecdbff, 0 0 10px #e7d1ff;
}

.hljs-title.class_.inherited__ {
  text-decoration: none;
  color: #d2a8ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #cfa3ff, 0 0 10px #d1a5ff;
}

.hljs-title.class_.inherited__:hover,
.hljs-title.class_.inherited__:focus {
  color: #d2a8ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ecdbff, 0 0 10px #e7d1ff;
}

.hljs-title.function_ {
  text-decoration: none;
  color: #d2a8ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #cfa3ff, 0 0 10px #d1a5ff;
}

.hljs-title.function_:hover,
.hljs-title.function_:focus {
  color: #d2a8ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ecdbff, 0 0 10px #e7d1ff;
}

/* prettylights-syntax-constant */
.hljs-attr {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-attr:hover,
.hljs-attr:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-attribute {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-attribute:hover,
.hljs-attribute:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-literal {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-literal:hover,
.hljs-literal:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-meta {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-meta:hover,
.hljs-meta:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-number {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-number:hover,
.hljs-number:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-operator {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-operator:hover,
.hljs-operator:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-variable {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-variable:hover,
.hljs-variable:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-selector-attr {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-selector-attr:hover,
.hljs-selector-attr:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-selector-class {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-selector-class:hover,
.hljs-selector-class:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

.hljs-selector-id {
  text-decoration: none;
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #74beff, 0 0 10px #76bfff;
}

.hljs-selector-id:hover,
.hljs-selector-id:focus {
  color: #79c0ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #acd8ff, 0 0 10px #a2d3ff;
}

/* prettylights-syntax-string */
.hljs-regexp {
  text-decoration: none;
  color: #a5d6ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #a0d4ff, 0 0 10px #a2d5ff;
}

.hljs-regexp:hover,
.hljs-regexp:focus {
  color: #a5d6ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #d8edff, 0 0 10px #cee9ff;
}

.hljs-string {
  text-decoration: none;
  color: #a5d6ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #a0d4ff, 0 0 10px #a2d5ff;
}

.hljs-string:hover,
.hljs-string:focus {
  color: #a5d6ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #d8edff, 0 0 10px #cee9ff;
}

.hljs-meta .hljs-string {
  text-decoration: none;
  color: #a5d6ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #a0d4ff, 0 0 10px #a2d5ff;
}

.hljs-meta .hljs-string:hover,
.hljs-meta .hljs-string:focus {
  color: #a5d6ff;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #d8edff, 0 0 10px #cee9ff;
}

/* prettylights-syntax-variable */
.hljs-built_in {
  text-decoration: none;
  color: #ffa657;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ffa352, 0 0 10px #ffa554;
}

.hljs-built_in:hover,
.hljs-built_in:focus {
  color: #ffa657;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffc18a, 0 0 10px #ffbc80;
}

.hljs-symbol {
  text-decoration: none;
  color: #ffa657;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ffa352, 0 0 10px #ffa554;
}

.hljs-symbol:hover,
.hljs-symbol:focus {
  color: #ffa657;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #ffc18a, 0 0 10px #ffbc80;
}

/* prettylights-syntax-comment */
.hljs-comment {
  text-decoration: none;
  color: #8b949e;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #88919c, 0 0 10px #8a939d;
}

.hljs-comment:hover,
.hljs-comment:focus {
  color: #8b949e;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #a7aeb5, 0 0 10px #a1a8b1;
}

.hljs-code {
  text-decoration: none;
  color: #8b949e;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #88919c, 0 0 10px #8a939d;
}

.hljs-code:hover,
.hljs-code:focus {
  color: #8b949e;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #a7aeb5, 0 0 10px #a1a8b1;
}

.hljs-formula {
  text-decoration: none;
  color: #8b949e;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #88919c, 0 0 10px #8a939d;
}

.hljs-formula:hover,
.hljs-formula:focus {
  color: #8b949e;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #a7aeb5, 0 0 10px #a1a8b1;
}

/* prettylights-syntax-entity-tag */
.hljs-name {
  text-decoration: none;
  color: #7ee787;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #7ae683, 0 0 10px #7ce785;
}

.hljs-name:hover,
.hljs-name:focus {
  color: #7ee787;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #a9efaf, 0 0 10px #a0eda7;
}

.hljs-quote {
  text-decoration: none;
  color: #7ee787;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #7ae683, 0 0 10px #7ce785;
}

.hljs-quote:hover,
.hljs-quote:focus {
  color: #7ee787;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #a9efaf, 0 0 10px #a0eda7;
}

.hljs-selector-tag {
  text-decoration: none;
  color: #7ee787;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #7ae683, 0 0 10px #7ce785;
}

.hljs-selector-tag:hover,
.hljs-selector-tag:focus {
  color: #7ee787;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #a9efaf, 0 0 10px #a0eda7;
}

.hljs-selector-pseudo {
  text-decoration: none;
  color: #7ee787;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #7ae683, 0 0 10px #7ce785;
}

.hljs-selector-pseudo:hover,
.hljs-selector-pseudo:focus {
  color: #7ee787;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #a9efaf, 0 0 10px #a0eda7;
}

/* prettylights-syntax-storage-modifier-import */
.hljs-subst {
  text-decoration: none;
  color: #c9d1d9;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #c6ced7, 0 0 10px #c8d0d8;
}

.hljs-subst:hover,
.hljs-subst:focus {
  color: #c9d1d9;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #e7ebee, 0 0 10px #e1e5ea;
}

/* prettylights-syntax-markup-heading */
.hljs-section {
  text-decoration: none;
  color: #1f6feb;
  font-weight: bold;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #1a6ceb, 0 0 10px #1d6deb;
}

.hljs-section:hover,
.hljs-section:focus {
  color: #1f6feb;
  font-weight: bold;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #4e8def, 0 0 10px #4487ee;
}

/* prettylights-syntax-markup-list */
.hljs-bullet {
  text-decoration: none;
  color: #f2cc60;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #f2ca5b, 0 0 10px #f2cb5e;
}

.hljs-bullet:hover,
.hljs-bullet:focus {
  color: #f2cc60;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #f6db8f, 0 0 10px #f5d886;
}

/* prettylights-syntax-markup-italic */
.hljs-emphasis {
  text-decoration: none;
  color: #c9d1d9;
  font-weight: normal;
  font-style: italic;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #c6ced7, 0 0 10px #c8d0d8;
}

.hljs-emphasis:hover,
.hljs-emphasis:focus {
  color: #c9d1d9;
  font-weight: normal;
  font-style: italic;
  background-color: transparent;
  text-shadow: 0 0 5px #e7ebee, 0 0 10px #e1e5ea;
}

/* prettylights-syntax-markup-bold */
.hljs-strong {
  text-decoration: none;
  color: #c9d1d9;
  font-weight: bold;
  font-style: normal;
  background-color: transparent;
  transition: all 0.5s;
  text-shadow: 0 0 5px #c6ced7, 0 0 10px #c8d0d8;
}

.hljs-strong:hover,
.hljs-strong:focus {
  color: #c9d1d9;
  font-weight: bold;
  font-style: normal;
  background-color: transparent;
  text-shadow: 0 0 5px #e7ebee, 0 0 10px #e1e5ea;
}

/* prettylights-syntax-markup-inserted */
.hljs-addition {
  text-decoration: none;
  color: #aff5b4;
  font-weight: normal;
  font-style: normal;
  background-color: #033a16;
  transition: all 0.5s;
  text-shadow: 0 0 5px #aaf4b0, 0 0 10px #adf5b2;
}

.hljs-addition:hover,
.hljs-addition:focus {
  color: #aff5b4;
  font-weight: normal;
  font-style: normal;
  background-color: #033a16;
  text-shadow: 0 0 5px #dcfbdf, 0 0 10px #d3fad6;
}

/* prettylights-syntax-markup-deleted */
.hljs-deletion {
  text-decoration: none;
  color: #ffdcd7;
  font-weight: normal;
  font-style: normal;
  background-color: #67060c;
  transition: all 0.5s;
  text-shadow: 0 0 5px #ffd8d2, 0 0 10px #ffdad4;
}

.hljs-deletion:hover,
.hljs-deletion:focus {
  color: #ffdcd7;
  font-weight: normal;
  font-style: normal;
  background-color: #67060c;
  text-shadow: 0 0 5px white, 0 0 10px white;
}/*# sourceMappingURL=github-dark.css.map */