@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: "JetBrains Mono";

  /* 淡入*/
  animation: fade 2s linear 0s 1;
}

say {
  white-space: normal;
  color: #c9d1d9;
  text-shadow: 0 0 5px rgba(201, 209, 217, 0.99),
    0 0 10px rgba(201, 209, 217, 0.95);
  font-family: "JetBrains Mono";

  /* 淡入*/
  animation: fade 2s linear 0s 1;
}

.center {
  /* 置中 */
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  /* 防止元素被壓縮 */
  white-space: nowrap;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}